
@{
    ViewData["Title"] = "Master Data User";
}


<h2>Master Data User</h2>


<table class="table table-striped" id="userTable">
    <thead>
        <trt>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>

        </trt>
    </thead>
    <tbody>
     </tbody>

</table>


<script src="~/js/mstuser.js"></script>